---
import Navbar from "../components/Navbar.astro"
import Hero from "../components/Hero.astro"
import How from "../components/HowItWorks/index.astro"
import Pricing from "../components/Pricing.astro"
import Newsletter from "../components/Newsletter.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>
	<link rel="stylesheet" href={Astro.resolve("../styles/global.css")}>
</head>

<body class="flex flex-col justify-center">
	<Navbar></Navbar>
	<Hero></Hero>
	<How></How>
	<Pricing></Pricing>
	<Newsletter></Newsletter>
	<Footer></Footer>
</body>

</html>
