<section class="flex items-center justify-center">
    <div class="px-20 max-w-screen-xl w-full">
        <div class="py-6 border border-t-neutral-200 border-x-0 border-b-0 flex flex-row justify-between">
            <p>© Company Name. All rights reserved. Terms & Conditions. Privacy Policy.</p>
            <div class="flex flex-row gap-2">
                <a>Twitter</a>
                <a>Email</p>
            </div>
        </div>
    </div>
</section>