<div class="w-full px-6">
    <div class="relative rounded-lg container mx-auto flex flex-col items-center pt-12 sm:pt-24 pb-24 sm:pb-32 md:pb-48 lg:pb-56 xl:pb-64">
        <div class="w-11/12 sm:w-2/3 mb-5 sm:mb-10">
            <h1 class="text-8xl text-center text-gray-900 font-black">Save tweets & threads to Notion, Obsidian & Evernote</h1>
            <p class="mx-auto text-center pt-8 text-xl w-3/5">Just sign up for free and comment <span class="italic">@tresselapp</span> save or <span class="italic">@tresselapp</span> save thread under a tweet or thread you want to save</p>
        </div>
        <div class="flex justify-center items-center mb-6 sm:mb-20">
            <button class="bg-sky-500 focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-indigo-700 focus:ring-white rounded text-white px-4 sm:px-8 py-1 sm:py-3 text-lg font-semibold">Join the waitlist</button>
        </div>
    </div>
    <div class="container mx-auto flex justify-center md:-mt-56 -mt-20 sm:-mt-40 w-9/12 relative z-0">
        <div class="relative sm:w-2/3 w-11/12">
            <img src="hero-image.jpeg" alt="Sample Page" role="img"/>
        </div>
    </div>
    <div class="mx-auto flex justify-center -mt-12 relative z-10">
        <button class="text-center text-white text-lg font-semibold bg-black px-8 py-8 rounded-full">Learn How it Works</button>
    </div>
</div>