<header class="text-gray-600 body-font max-w-screen-xl w-full px-20 mx-auto">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font items-center text-xl text-white font-bold bg-black px-5 py-2 rounded-xl mb-4 md:mb-0">
            tressel
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mx-8 text-gray-500 font-semibold cursor-pointer text-lg">How It Works</a>
            <a class="mx-8 text-gray-500 font-semibold cursor-pointer text-lg">Pricing</a>
        </nav>
        <button class="inline-flex items-center text-white bg-sky-500 border-0 py-2 px-3 focus:outline-none rounded-xl text-base mt-4 md:mt-0 font-semibold">Join the waitlist
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</header>