<section class="py-24 flex items-center justify-center">
    <div class="px-20 max-w-screen-xl w-full">
        <div class="bg-neutral-900 px-12 py-16 rounded">
            <h1 class="text-white font-bold text-3xl pb-3">More features coming soon!</h1>
            <p class="text-neutral-300 font-medium pb-6">Sign up for Tressel's newsletter to receive alerts when new features are released & progress updates on the app</p>
            <input placeholder="Your email..." class="px-4 py-3 rounded-sm bg-neutral-700 border border-neutral-600 text-white font-semibold"></input>
            <button class="px-8 py-3 bg-blue-600 text-white font-medium rounded-md border border-blue-600">Subscribe</button>
        </div>
    </div>
</section>