<section name="Pricing" class="bg-gray-200 py-24 flex justify-center">
    <div class="max-w-screen-xl w-full px-20 flex flex-col justify-center items-center">
        <h1 class="text-5xl font-bold text-center pb-4">Pricing</h1>
        <p class="text-center text-lg text-gray-700 px-32 pb-16">Tressel is a <span class="font-bold">free beta</span> product for now but a paid version with expanded features is coming soon once bugs have been ironed out!</p>
        <div class="bg-white w-1/2 rounded-lg py-8 px-4 flex flex-col items-center shadow-xl">
            <p class="text-center font-bold pb-4">Beta</p>
            <h2 class="text-center font-bold text-8xl pb-12">FREE</h2>
            <div class="border-y-gray-300 border-x-0 border-b-0 border py-4 w-full">
                <p class="text-center font-semibold">Save ∞ tweets & threads</p>
            </div>
            <div class="border-y-gray-300 border-x-0 border-b-0 border py-4 w-full">
                <p class="text-center font-semibold">Sync to Notion, Obsidian & Evernote</p>
            </div>
            <div class="border-y-gray-300 border-x-0 border py-4 mb-12 w-full">
                <p class="text-center font-semibold">Syncs every 6 hours</p>
            </div>
            <button class="inline-flex items-center text-white bg-sky-500 border-0 py-2 px-3 focus:outline-none rounded-xl text-base mt-4 md:mt-0 font-semibold">Join the waitlist
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </div>
</section>